.tab {
    width: 100%;
}

th{
    color: white;
}

#p_table, #p_table th, #p_table td {
    border: 1px solid black; 
    border-collapse: collapse; 
    padding: 8px; 
}

th {
    background-color: #4CAF50;
}

#p_table td{
    background-color: #f2f2f2;
}

.child1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    margin-top: 20px;
}
